### 배열 확장
- hstack : horizental stack
- vstack : vertical stack
- dstack : depth stack
- stack
- r_
- c_
- tile

In [1]:
import numpy as np

In [2]:
def aryInfo(arr) :
    print("type : {}".format(type(arr)))
    print("shape : {} , dimension : {} , dtype : {}".format(arr.shape , arr.ndim, arr.dtype))
    print("Array's Data : \n" , arr)

In [7]:
# hstack : col이 늘어나는 것이기 때문에 반드시 행의 숫자가 똑같아야만 한다.
h_ary_01 = np.ones((2,3))
aryInfo(h_ary_01)

type : <class 'numpy.ndarray'>
shape : (2, 3) , dimension : 2 , dtype : float64
Array's Data :
 [[1. 1. 1.]
 [1. 1. 1.]]

In [8]:
# astype() : 타입의 변화를 줄 때 사용하는 방법 중 하나, dtype=''도 있다. 
re_type = h_ary_01.astype(np.int32)
aryInfo(re_type)

type : <class 'numpy.ndarray'>
shape : (2, 3) , dimension : 2 , dtype : int32
Array's Data :
 [[1 1 1]
 [1 1 1]]

In [11]:
h_ary_02 = np.zeros((2,3))
aryInfo(h_ary_02)

type : <class 'numpy.ndarray'>
shape : (2, 3) , dimension : 2 , dtype : float64
Array's Data :
 [[0. 0. 0.]
 [0. 0. 0.]]

In [15]:
np.hstack([h_ary_01, h_ary_02])

array([[1., 1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0.]])

In [ ]:
# vstack : row가 늘어나는 것이기 때문에 반드시 열의 숫자가 똑같아야만 한다.

In [14]:
np.vstack([h_ary_01, h_ary_02])

array([[1., 1., 1.],
       [1., 1., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [4]:
# dstack : 깊이가 늘어나는 것
d_ary_01 = np.ones((3,4))
print(d_ary_01)
d_ary_02 = np.zeros((3,4))
print(d_ary_02)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [22]:
# (3 * 4) --> (3 * 4 * 2)
np.dstack([d_ary_01, d_ary_02])

array([[[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]]])

In [21]:
aryInfo(np.dstack([d_ary_01, d_ary_02]))

type : <class 'numpy.ndarray'>
shape : (3, 4, 2) , dimension : 3 , dtype : float64
Array's Data :
 [[[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]]

In [29]:
# stack : 행과 열의 갯수가 똑같아야 한다.
# (3 * 4) -> (2 * 3 * 4)
s_ary = np.stack([d_ary_01, d_ary_02], axis=0)
aryInfo(s_ary)

type : <class 'numpy.ndarray'>
shape : (2, 3, 4) , dimension : 3 , dtype : float64
Array's Data :
 [[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]

In [30]:
# (3 * 4) -> (3 * 2 * 4)
s_ary = np.stack([d_ary_01, d_ary_02], axis=1)
aryInfo(s_ary)

type : <class 'numpy.ndarray'>
shape : (3, 2, 4) , dimension : 3 , dtype : float64
Array's Data :
 [[[1. 1. 1. 1.]
  [0. 0. 0. 0.]]

 [[1. 1. 1. 1.]
  [0. 0. 0. 0.]]

 [[1. 1. 1. 1.]
  [0. 0. 0. 0.]]]

In [31]:
# (3 * 4) -> (3 * 4 * 2)
s_ary = np.stack([d_ary_01, d_ary_02], axis=2)
aryInfo(s_ary)

type : <class 'numpy.ndarray'>
shape : (3, 4, 2) , dimension : 3 , dtype : float64
Array's Data :
 [[[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]]

In [32]:
np.r_[ np.array([1,2,3]) , np.array([4,5,6])] # 1차원 벡터 두 개를 row bind

array([1, 2, 3, 4, 5, 6])

In [33]:
np.c_[ np.array([1,2,3]) , np.array([4,5,6])] # 1차원 벡터 두 개를 col bind

array([[1, 4],
       [2, 5],
       [3, 6]])

In [5]:
np.r_[ d_ary_01 , d_ary_02 ]

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [6]:
np.c_[ d_ary_01 , d_ary_02 ]

array([[1., 1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0., 0., 0.]])

- tile : 동일한 배열을 반복하여 연결시킬 때 사용한다.

In [5]:
t_ary = np.array([[1,2,3], [4,5,6]])

In [6]:
np.tile(t_ary , 3 )

array([[1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6]])

In [7]:
np.tile(t_ary, (3,2))

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [15]:
a = np.zeros([3,3])
b = np.ones([3,2])
ab = np.hstack([a, b])
ab

array([[0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.]])

In [3]:
a = np.zeros([3,3])
b = np.ones([3,2])
ab = np.hstack([a, b])
c = np.array([[10,20,30,40,50], [60,70,80,90,100], [110,120,130,140,150]])
abc = np.vstack([ab, c])
np.tile(abc, (2,1))

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

In [3]:
x = np.zeros((3,3))
print(aryInfo(x))
y = np.ones((3,2))
print(aryInfo(y))
xy = np.hstack([x,y])
print(aryInfo(xy))
z = np.arange(10, 160, 10).reshape((3,5))
print(aryInfo(z))
xyz = np.vstack([xy, z])
print(aryInfo(xyz))
answer = np.tile(xyz, (2,1))
print(answer)

type : <class 'numpy.ndarray'>
shape : (3, 3) , dimension : 2 , dtype : float64
Array's Data :
 [[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
None
type : <class 'numpy.ndarray'>
shape : (3, 2) , dimension : 2 , dtype : float64
Array's Data :
 [[1. 1.]
 [1. 1.]
 [1. 1.]]
None
type : <class 'numpy.ndarray'>
shape : (3, 5) , dimension : 2 , dtype : float64
Array's Data :
 [[0. 0. 0. 1. 1.]
 [0. 0. 0. 1. 1.]
 [0. 0. 0. 1. 1.]]
None
type : <class 'numpy.ndarray'>
shape : (3, 5) , dimension : 2 , dtype : int32
Array's Data :
 [[ 10  20  30  40  50]
 [ 60  70  80  90 100]
 [110 120 130 140 150]]
None
type : <class 'numpy.ndarray'>
shape : (6, 5) , dimension : 2 , dtype : float64
Array's Data :
 [[  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [ 10.  20.  30.  40.  50.]
 [ 60.  70.  80.  90. 100.]
 [110. 120. 130. 140. 150.]]
None
[[  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [ 10.  20.  30.  40.  50.]
 [ 60.  70.  80.  90. 100.]
 [110. 120. 130. 140. 150.]
 [  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [  0.   0.   0.   1.   1.]
 [ 10.  20.  30.  40.  50.]
 [ 60.  70.  80.  90. 100.]
 [110. 120. 130. 140. 150.]]

### delete()
- 행과 열을 삭제 : axis
- row data는 변경하지 않고 새로운 배열을 리턴

In [12]:
ary = np.random.randint(0, 10, (3, 4))
aryInfo(ary)

type : <class 'numpy.ndarray'>
shape : (3, 4) , dimension : 2 , dtype : int32
Array's Data :
 [[2 4 4 6]
 [5 5 4 1]
 [1 9 2 6]]

In [15]:
result = np.delete(ary, 1, axis = 0)
aryInfo(result)

type : <class 'numpy.ndarray'>
shape : (2, 4) , dimension : 2 , dtype : int32
Array's Data :
 [[2 4 4 6]
 [1 9 2 6]]

### loadtxt() - ndarray 형태로 리턴

In [23]:
row_data = np.loadtxt('./data/crime_in_Seoul.csv', delimiter='\t', dtype=np.object, skiprows=1)
aryInfo(row_data)

type : <class 'numpy.ndarray'>
shape : (31,) , dimension : 1 , dtype : object
Array's Data :
 ['중부서,2,2,3,2,105,65,"1,395",477,"1,355","1,170"'
 '종로서,3,3,6,5,115,98,"1,070",413,"1,278","1,070"'
 '남대문서,1,0,6,4,65,46,"1,153",382,869,794'
 '서대문서,2,2,5,4,154,124,"1,812",738,"2,056","1,711"'
 '혜화서,3,2,5,4,96,63,"1,114",424,"1,015",861'
 '용산서,5,5,14,14,194,173,"1,557",587,"2,050","1,704"'
 '성북서,2,2,2,1,86,71,953,409,"1,194","1,015"'
 '동대문서,5,5,13,13,173,146,"1,981",814,"2,548","2,227"'
 '마포서,8,8,14,10,294,247,"2,555",813,"2,983","2,519"'
 '영등포서,14,12,22,20,295,183,"2,964",978,"3,572","2,961"'
 '성동서,4,4,9,8,126,119,"1,607",597,"1,612","1,395"'
 '동작서,5,5,9,5,285,139,"1,865",661,"1,910","1,587"'
 '광진서,4,4,14,26,240,220,"3,026","1,277","2,625","2,180"'
 '서부서,2,2,2,1,70,59,819,293,"1,192","1,038"'
 '강북서,7,8,14,13,153,126,"1,434",618,"2,649","2,348"'
 '금천서,3,4,6,6,151,122,"1,567",888,"2,054","1,776"'
 '중랑서,13,12,11,9,187,148,"2,135",829,"2,847","2,407"'
 '강남서,3,3,15,12,300,225,"2,411",984,"2,465","2,146"'
 '관악서,9,8,12,14,320,221,"2,706",827,"3,298","2,642"'
 '강서서,7,8,13,13,262,191,"2,096","1,260","3,207","2,718"'
 '강동서,4,3,6,8,156,123,"2,366",789,"2,712","2,248"'
 '종암서,3,3,3,3,64,53,832,332,"1,015",840'
 '구로서,8,6,15,11,281,164,"2,335",889,"3,007","2,432"'
 '서초서,7,4,8,5,334,193,"1,982",905,"1,852","1,607"'
 '양천서,3,5,6,3,120,105,"1,890",672,"2,509","2,030"'
 '송파서,11,10,13,10,220,178,"3,239","1,129","3,295","2,786"'
 '노원서,10,10,7,7,197,121,"2,193",801,"2,723","2,329"'
 '방배서,1,2,1,1,59,56,653,186,547,491'
 '은평서,1,1,7,5,96,82,"1,095",418,"1,461","1,268"'
 '도봉서,3,3,9,10,102,106,"1,063",478,"1,487","1,303"'
 '수서서,10,7,6,6,149,124,"1,439",666,"1,819","1,559"']

### 벡터(1차원배열) 연산

In [24]:
x = np.arange(1, 10001)
y = np.arange(10001, 20001)

In [25]:
%%time
z = np.zeros_like(x)
for i in range(10000) :
    z[i] = x[i] + y[i]

Wall time: 6.01 ms

In [26]:
%%time
z = x + y

Wall time: 0 ns

In [32]:
a = np.array([1,2,3,4])
b = np.array([5,2,6,4])
c = np.array([1,2,3,4])

In [28]:
a == b # 각 index의 있는 값들을 비교

array([False,  True, False,  True])

In [29]:
a >= b

array([False,  True, False,  True])

In [34]:
np.all(a == b)

False

In [35]:
np.all(a == c)

True

In [36]:
a * 10

array([10, 20, 30, 40])

In [37]:
x = np.arange(12).reshape(3,4)
print(x*100)

[[   0  100  200  300]
 [ 400  500  600  700]
 [ 800  900 1000 1100]]

### 브로드캐스팅 : 스칼라 + 벡터 , 스칼라 * 곱 등의 연산에서 스칼라 값이 벡터 혹은 행렬의 크기에 맞게 확장되는 것

In [40]:
x = np.arange(5)

array([1, 2, 3, 4, 5])

In [42]:
y = np.ones_like(x)

array([1, 1, 1, 1, 1])

In [45]:
x + y  == x + 1

array([ True,  True,  True,  True,  True])

In [59]:
a = np.arange(5)
b = a + 1
c = b + 1
d = np.vstack([a,b,c])
aryInfo(d.T)

type : <class 'numpy.ndarray'>
shape : (5, 3) , dimension : 2 , dtype : int32
Array's Data :
 [[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]
 [4 5 6]]

In [67]:
x = np.vstack([ range(7)[i : i + 3] for i in range(5) ])
x

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [73]:
# type이 벡터
y = np.arange(5)
y

array([0, 1, 2, 3, 4])

In [74]:
# 오류 발생, shape이 달라서 오류 발생 행렬 + 벡터는 브로드캐스팅을 통해서만 연산이 가능하다.
x + y

ValueError: operands could not be broadcast together with shapes (5,3) (5,)

In [72]:
# type을 증가시킴 --> 행렬이 됨 즉, broadcasting을 한 것이다.
y = np.arange(5)[ : , np.newaxis]
y

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [75]:
y = np.arange(3)
y

array([0, 1, 2])

In [76]:
x + y

array([[0, 2, 4],
       [1, 3, 5],
       [2, 4, 6],
       [3, 5, 7],
       [4, 6, 8]])

### 차원 축소 <-> 브로드캐스팅의 반대
- dimension reduction

In [78]:
x = np.array([1,2,3,4])
aryInfo(x)

type : <class 'numpy.ndarray'>
shape : (4,) , dimension : 1 , dtype : int32
Array's Data :
 [1 2 3 4]

In [80]:
aryInfo(np.sum(x)) # 단일 값(스칼라 값)으로 축소

type : <class 'numpy.int32'>
shape : () , dimension : 0 , dtype : int32
Array's Data :
 10

In [81]:
x.min()

1

In [82]:
x.max()

4

In [83]:
# 최소값의 위치 index를 리턴
x.argmin()

0

In [84]:
# 최대값의 위치 index를 리턴
x.argmax()

3

In [87]:
# 평균값을 리턴
x.mean()

2.5

In [88]:
x = np.array([[1,2,3,4], [5,6,7,8]])
aryInfo(x)

type : <class 'numpy.ndarray'>
shape : (2, 4) , dimension : 2 , dtype : int32
Array's Data :
 [[1 2 3 4]
 [5 6 7 8]]

In [92]:
x.sum(axis = 0)  # 각 열의 값의 특징을 알고 싶으면 axis = 0 행 고정 열 값 비교

array([ 6,  8, 10, 12])

In [94]:
x.sum(axis = 1) # 각 행의 값의 특징을 알고 싶으면 axis = 1 열 고정 행 값 비교

array([10, 26])

실수로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구한다.

- 전체의 최댓값
- 각 행의 합
- 각 행의 최댓값
- 각 열의 평균
- 각 열의 최솟값

In [107]:
ary = np.random.randint(0, 10, (5, 6))
ary

array([[4, 1, 8, 2, 7, 5],
       [1, 7, 9, 3, 4, 0],
       [1, 9, 9, 7, 2, 6],
       [7, 5, 0, 0, 5, 3],
       [1, 5, 6, 0, 1, 5]])

In [112]:
print(ary.max())
print(ary.sum(axis = 1))
print(ary.max(axis = 1))
print(ary.mean(axis = 0))
print(ary.min(axis = 0))

9
[27 24 34 20 18]
[8 9 9 7 6]
[2.8 5.4 6.4 2.4 3.8 3.8]
[1 1 0 0 1 0]