### 행 인덱싱, 데이터 조작, 인덱스 조작
- loc()  : 라벨값 기반의 2차원 인덱싱, 배열 인덱싱은 불가능하다.
- iloc() : 순서를 나타내는 정수 기반의 2차원 인덱싱

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
sampleDF = pd.DataFrame(np.arange(10, 22).reshape(3,4) , 
                        index = ['a', 'b', 'c'] , # 행 속성(이름) 부여
                        columns = ['col01', 'col02', 'col03', 'col04'] # 열 속성(이름) 부여
                       )

In [28]:
sampleDF

   col01  col02  col03  col04
a     10     11     12     13
b     14     15     16     17
c     18     19     20     21

- df.loc[행 인덱스]
- df.loc[행 인덱스 값 , 열 인덱스 값]

In [16]:
sampleDF.loc['a']

col1    10
col2    11
col3    12
col4    13
Name: a, dtype: int32

In [17]:
type( sampleDF.loc['a'])

pandas.core.series.Series

In [20]:
sampleDF.loc['a'].values

array([10, 11, 12, 13])

In [19]:
type( sampleDF.loc['a'].values)

numpy.ndarray

In [22]:
sampleDF.loc[['a', 'b']]

   col1  col2  col3  col4
a    10    11    12    13
b    14    15    16    17

In [24]:
sampleDF['col1']  # sampleDF.col1   ---> 두 가지 방법이 더 있는데 잘 안쓴다.

a    10
b    14
c    18
Name: col1, dtype: int32

In [29]:
sampleDF.loc[ sampleDF['col01'] > 15]

   col01  col02  col03  col04
c     18     19     20     21

In [30]:
type (sampleDF.loc[ sampleDF['col01'] > 15])

pandas.core.frame.DataFrame

In [31]:
type(sampleDF['col01'] > 15) # series 형태고 boolean masking이 되어있다.

pandas.core.series.Series

In [32]:
sampleDF['col01'] > 15 # boolean masking이 되어있고, 조건에 해당하는 것은 C 행 뿐이기 때문에 C행의 값들만 가져온다.

a    False
b    False
c     True
Name: col01, dtype: bool

In [39]:
sampleDF2 = pd.DataFrame(np.arange(10, 26).reshape(4,4) , 
                        columns = ['col01', 'col02', 'col03', 'col04'] # 열 속성(이름) 부여
                       )

In [40]:
sampleDF2

   col01  col02  col03  col04
0     10     11     12     13
1     14     15     16     17
2     18     19     20     21
3     22     23     24     25

In [41]:
sampleDF2.loc[1]

col01    14
col02    15
col03    16
col04    17
Name: 1, dtype: int32

In [42]:
sampleDF

   col01  col02  col03  col04
a     10     11     12     13
b     14     15     16     17
c     18     19     20     21

In [47]:
sampleDF.loc['a' , 'col01']

10

In [46]:
type( sampleDF.loc['a' , 'col01']) # 단일값 (스칼라 값)으로 출력이 된다.

numpy.int32

In [48]:
sampleDF.loc['b' : , 'col01']

b    14
c    18
Name: col01, dtype: int32

In [49]:
type( sampleDF.loc['b': , 'col01'])

pandas.core.series.Series

In [50]:
sampleDF.loc[ 'a' , :]

col01    10
col02    11
col03    12
col04    13
Name: a, dtype: int32

In [53]:
# 16, 17, 20, 21만 가져오고 싶다?
sampleDF.loc['b': , 'col03':]
sampleDF.loc['b':'c', ['col03', 'col04']]

   col03  col04
b     16     17
c     20     21

In [60]:
sampleDF.loc[ sampleDF['col04'] > 13, ['col03', 'col04']]

   col03  col04
b     16     17
c     20     21

In [61]:
sampleDF.loc[ sampleDF['col01'] > 10, ['col03', 'col04']]

   col03  col04
b     16     17
c     20     21

In [67]:
sampleDF.iloc[: , 0]

a    10
b    14
c    18
Name: col01, dtype: int32

In [74]:
#12, 13 값을 가져온다면?

sampleDF.iloc[0, 2:4]
sampleDF.iloc[0, -2:]

col03    12
col04    13
Name: a, dtype: int32

In [75]:
sampleDF.iloc[-1]

col01    18
col02    19
col03    20
col04    21
Name: c, dtype: int32

In [ ]:
# 마지막 행 값들에 대해 제곱을 해주고 싶다면?