In [2]:
import numpy   as np
import pandas  as pd
import seaborn as sns

In [3]:
iris_datasets = sns.load_dataset('iris')
iris_datasets.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris_datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris_datasets.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
# 각 종별로 가장 큰 값과 가장 작은 값의 비율을 구한다면?
# agg()
# 
def get_ratio(x) :
    return x.max() / x.min()

In [7]:
grp_iris_species = iris_datasets.groupby(iris_datasets['species'])

In [8]:
for key , group in grp_iris_species :
    print('key : ' , key)
    print('number : ' , len(group))
    print(group)
    print('\n')

key :  setosa
number :  50
    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa


key :  versicolor
number :  50
    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor


key :  virginica
number :  50
     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [9]:
grp_iris_species.agg(get_ratio)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          1.348837     1.913043      1.900000     6.000000
versicolor      1.428571     1.700000      1.700000     1.800000
virginica       1.612245     1.727273      1.533333     1.785714

In [10]:
grp_iris_species.describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.428000    2.770000   2.974000
             std     0.379064    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.200000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.462000    4.260000   5.552000
             std     0.173664    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.246000    1.326000   2.026000
             std     0.105386    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [11]:
# 종별로 가장 긴 꽃잎길이가 큰 3개의 데이터를 뽑아낸다면?
# sort_values() : 내림차순정렬
# apply() - 그룹연산이 없는 경우
# agg() - 그룹연산
iris_datasets.sort_values(by='petal_length' , ascending=False)[:3]

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica

In [12]:
def max3_petal_length(df) :
    return df.sort_values(by='petal_length' , ascending=False)[:3]

In [13]:
iris_datasets.groupby(iris_datasets.species).apply(max3_petal_length)

                sepal_length  sepal_width  petal_length  petal_width  \
species
setosa     24            4.8          3.4           1.9          0.2
           44            5.1          3.8           1.9          0.4
           23            5.1          3.3           1.7          0.5
versicolor 83            6.0          2.7           5.1          1.6
           77            6.7          3.0           5.0          1.7
           72            6.3          2.5           4.9          1.5
virginica  118           7.7          2.6           6.9          2.3
           117           7.7          3.8           6.7          2.2
           122           7.7          2.8           6.7          2.0

                   species
species
setosa     24       setosa
           44       setosa
           23       setosa
versicolor 83   versicolor
           77   versicolor
           72   versicolor
virginica  118   virginica
           117   virginica
           122   virginica

- transform() : 그룹별 계산은 동일하지만 데이터프레임 자체를 변화
- 꽃잎길이가 해당 종 내에서 대/중/소 어느것에 해당되는지에 대한 프레임을 만들고 싶다면?
- cut()  : 동일 길이로 나누어서 범주를 만들고 그룹에 대한 통계량
- qcut() : 동일 갯수로 나누어서 범주를 만들고 그룹에 대한 통계량

In [14]:
iris_datasets.groupby(iris_datasets.species)

In [15]:
iris_datasets.groupby(iris_datasets.species).petal_length

In [16]:
def cat3_petal_length(s) : 
    return pd.qcut(s , 3 , labels=['소', '중' , '대']).astype(str)

In [17]:
# iris_datasets['category'] = iris_datasets.groupby(iris_datasets.species).petal_length.transform(cat3_petal_length)
iris_datasets['category'] = iris_datasets.groupby(iris_datasets.species).petal_length.apply(cat3_petal_length)
# iris_datasets['category'] = iris_datasets.groupby(iris_datasets.species).petal_length.agg(cat3_petal_length)
iris_datasets.head()

   sepal_length  sepal_width  petal_length  petal_width species category
0           5.1          3.5           1.4          0.2  setosa        소
1           4.9          3.0           1.4          0.2  setosa        소
2           4.7          3.2           1.3          0.2  setosa        소
3           4.6          3.1           1.5          0.2  setosa        중
4           5.0          3.6           1.4          0.2  setosa        소

In [18]:
# 종별로 꽃잎길이, 꽃잎폭 의 평균을 구하라
# agg()
iris_datasets.groupby(iris_datasets.species).agg(np.mean).loc[ :  , ['petal_length' , 'petal_width']]

            petal_length  petal_width
species
setosa             1.462        0.246
versicolor         4.260        1.326
virginica          5.552        2.026

In [19]:
iris_datasets.groupby(iris_datasets.species).agg({'petal_length' : [np.min, np.max] , 'petal_width' : np.mean })

           petal_length      petal_width
                   amin amax        mean
species
setosa              1.0  1.9       0.246
versicolor          3.0  5.1       1.326
virginica           4.5  6.9       2.026

In [20]:
iris_datasets.groupby(iris_datasets.species).agg(['min', 'max'])

           sepal_length      sepal_width      petal_length      petal_width  \
                    min  max         min  max          min  max         min
species
setosa              4.3  5.8         2.3  4.4          1.0  1.9         0.1
versicolor          4.9  7.0         2.0  3.4          3.0  5.1         1.0
virginica           4.9  7.9         2.2  3.8          4.5  6.9         1.4

                category
            max      min max
species
setosa      0.6        대   중
versicolor  1.8        대   중
virginica   2.5        대   중

- filter() : 그룹 객체에 filter() 적용할 때 조건식을 자진 함수를 전달하면 조건이 참인 그룹만 남긴다

In [21]:
titanic_datasets = sns.load_dataset('titanic')

In [22]:
titanic_datasets.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [23]:
grp_class_titanic = titanic_datasets.groupby(['class'])
grp_class_titanic

In [24]:
for key , group in grp_class_titanic :
    print('key : ' , key)
    print('number : ' , len(group))
    print(group)
    print('\n')

key :  First
number :  216
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns]


key :  Second
number :  184
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
17          1       2    male   NaN      0      0  13.0000        S  Second
20          0       2    male  35.0      0      0  26.0000        S  Second
21          1       2    male  34.0      0      0  13.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
17     man        True  NaN  Southampton   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[184 rows x 15 columns]


key :  Third
number :  491
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
5           0       3    male   NaN      0      0   8.4583        Q  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
882  woman       False  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False
890    man        True  NaN   Queenstown    no   True

[491 rows x 15 columns]

In [25]:
# 데이터의 갯수가 200개 이상인 그룹만 필터링한다면?
def filter_func(x) :
    return len(x) >= 200

In [26]:
# grp_filter = grp_class_titanic.filter(filter_func)
grp_filter = grp_class_titanic.filter(lambda x : len(x) >= 200 )
display(grp_filter)
display( type( grp_filter ) )

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

pandas.core.frame.DataFrame

In [27]:
# age 열의 평균이 30보다 작은 그룹만 필터링한다면?
grp_filter = grp_class_titanic.filter(lambda x : x.age.mean() < 30 )
display(grp_filter)
display( type( grp_filter ) )

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

pandas.core.frame.DataFrame

In [28]:
# 반복문을 이용하여 출력을 한다면?
for idx in grp_filter.index : 
    display(grp_filter.iloc[idx])

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

survived                 0
pclass                   3
sex                   male
age                     35
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 4, dtype: object

survived                 0
pclass                   3
sex                   male
age                      2
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 7, dtype: object

survived                 1
pclass                   3
sex                 female
age                     27
sibsp                    0
parch                    2
fare               11.1333
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 8, dtype: object

survived                 1
pclass                   3
sex                 female
age                      4
sibsp                    1
parch                    1
fare                  16.7
embarked                 S
class                Third
who                  child
adult_male           False
deck                     G
embark_town    Southampton
alive                  yes
alone                False
Name: 10, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 12, dtype: object

survived                 0
pclass                   3
sex                   male
age                     39
sibsp                    1
parch                    5
fare                31.275
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 13, dtype: object

survived                 0
pclass                   3
sex                 female
age                     14
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 14, dtype: object

survived                0
pclass                  3
sex                  male
age                     2
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 16, dtype: object

survived                 1
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 17, dtype: object

survived                 0
pclass                   3
sex                 female
age                     31
sibsp                    1
parch                    0
fare                    18
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 18, dtype: object

survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 19, dtype: object

survived                 0
pclass                   2
sex                   male
age                     35
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 20, dtype: object

survived                 1
pclass                   2
sex                   male
age                     34
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 21, dtype: object

survived                1
pclass                  3
sex                female
age                    15
sibsp                   0
parch                   0
fare               8.0292
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 22, dtype: object

survived                 0
pclass                   3
sex                 female
age                      8
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 24, dtype: object

survived                 1
pclass                   3
sex                 female
age                     38
sibsp                    1
parch                    5
fare               31.3875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 25, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 26, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 28, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 32, dtype: object

survived                 0
pclass                   2
sex                   male
age                     66
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 33, dtype: object

survived               1
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 36, dtype: object

survived                 0
pclass                   3
sex                 female
age                     18
sibsp                    2
parch                    0
fare                    18
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 38, dtype: object

survived               1
pclass                 3
sex               female
age                   14
sibsp                  1
parch                  0
fare             11.2417
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 39, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 42, dtype: object

survived               1
pclass                 2
sex               female
age                    3
sibsp                  1
parch                  2
fare             41.5792
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 43, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 46, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 47, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  2
parch                  0
fare             21.6792
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 48, dtype: object

survived                 0
pclass                   3
sex                 female
age                     18
sibsp                    1
parch                    0
fare                  17.8
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 49, dtype: object

survived                 0
pclass                   3
sex                   male
age                      7
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 50, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                   7.8
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 51, dtype: object

survived                 1
pclass                   2
sex                 female
age                     29
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 53, dtype: object

survived                 1
pclass                   2
sex                 female
age                     21
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 56, dtype: object

survived               0
pclass                 3
sex                 male
age                 28.5
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 57, dtype: object

survived                 1
pclass                   2
sex                 female
age                      5
sibsp                    1
parch                    2
fare                 27.75
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 58, dtype: object

survived                 0
pclass                   3
sex                   male
age                     11
sibsp                    5
parch                    2
fare                  46.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 59, dtype: object

survived               0
pclass                 3
sex                 male
age                   22
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 60, dtype: object

survived                 0
pclass                   3
sex                   male
age                      4
sibsp                    3
parch                    2
fare                  27.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 63, dtype: object

survived               1
pclass                 3
sex                 male
age                  NaN
sibsp                  1
parch                  1
fare             15.2458
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 65, dtype: object

survived                 1
pclass                   2
sex                 female
age                     29
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                 True
Name: 66, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                8.1583
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 67, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    2
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 69, dtype: object

survived                 0
pclass                   2
sex                   male
age                     21
sibsp                    0
parch                    0
fare                  73.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 72, dtype: object

survived               0
pclass                 3
sex                 male
age                   26
sibsp                  1
parch                  0
fare             14.4542
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 73, dtype: object

survived                 1
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare               56.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 74, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                  7.65
embarked                 S
class                Third
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                 True
Name: 75, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 76, dtype: object

survived                 1
pclass                   3
sex                 female
age                     30
sibsp                    0
parch                    0
fare                12.475
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 79, dtype: object

survived                 1
pclass                   3
sex                   male
age                     29
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 81, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.7875
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 82, dtype: object

survived                 1
pclass                   2
sex                 female
age                     17
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 84, dtype: object

survived                 1
pclass                   3
sex                 female
age                     33
sibsp                    3
parch                    0
fare                 15.85
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 85, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    1
parch                    3
fare                34.375
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 86, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 87, dtype: object

survived                 0
pclass                   3
sex                   male
age                     24
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 89, dtype: object

survived                 0
pclass                   3
sex                   male
age                     29
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 90, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 91, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    1
parch                    2
fare                20.575
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 93, dtype: object

survived                 0
pclass                   3
sex                   male
age                     59
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 94, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 95, dtype: object

survived                 1
pclass                   2
sex                 female
age                     34
sibsp                    0
parch                    1
fare                    23
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 98, dtype: object

survived                 0
pclass                   2
sex                   male
age                     34
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 99, dtype: object

survived                 0
pclass                   3
sex                 female
age                     28
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 100, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 101, dtype: object

survived                 0
pclass                   3
sex                   male
age                     33
sibsp                    0
parch                    0
fare                8.6542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 103, dtype: object

survived                 0
pclass                   3
sex                   male
age                     37
sibsp                    2
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 104, dtype: object

survived                 1
pclass                   3
sex                 female
age                     21
sibsp                    0
parch                    0
fare                  7.65
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 106, dtype: object

survived                 1
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 107, dtype: object

survived                 0
pclass                   3
sex                   male
age                     38
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 108, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   1
parch                   0
fare                24.15
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 109, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 112, dtype: object

survived                 0
pclass                   3
sex                 female
age                     20
sibsp                    1
parch                    0
fare                 9.825
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 113, dtype: object

survived               0
pclass                 3
sex               female
age                   17
sibsp                  0
parch                  0
fare             14.4583
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 114, dtype: object

survived                0
pclass                  3
sex                  male
age                  70.5
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 116, dtype: object

survived                 0
pclass                   2
sex                   male
age                     29
sibsp                    1
parch                    0
fare                    21
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 117, dtype: object

survived                 0
pclass                   3
sex                 female
age                      2
sibsp                    4
parch                    2
fare                31.275
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 119, dtype: object

survived               0
pclass                 2
sex                 male
age                 32.5
sibsp                  1
parch                  0
fare             30.0708
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 122, dtype: object

survived                 1
pclass                   2
sex                 female
age                   32.5
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 123, dtype: object

survived               1
pclass                 3
sex                 male
age                   12
sibsp                  1
parch                  0
fare             11.2417
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 125, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 126, dtype: object

survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  1
parch                  1
fare             22.3583
embarked               C
class              Third
who                woman
adult_male         False
deck                   F
embark_town    Cherbourg
alive                yes
alone              False
Name: 128, dtype: object

survived                 0
pclass                   3
sex                   male
age                     45
sibsp                    0
parch                    0
fare                 6.975
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 129, dtype: object

survived               0
pclass                 3
sex                 male
age                   33
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 130, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 131, dtype: object

survived                 0
pclass                   3
sex                 female
age                     47
sibsp                    1
parch                    0
fare                  14.5
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 132, dtype: object

survived                 1
pclass                   2
sex                 female
age                     29
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 133, dtype: object

survived                 0
pclass                   2
sex                   male
age                     25
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 134, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    0
parch                    0
fare                9.2167
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 138, dtype: object

survived               0
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  2
fare             15.2458
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 140, dtype: object

survived                 1
pclass                   3
sex                 female
age                     22
sibsp                    0
parch                    0
fare                  7.75
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 141, dtype: object

survived                 1
pclass                   3
sex                 female
age                     24
sibsp                    1
parch                    0
fare                 15.85
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 142, dtype: object

survived                0
pclass                  3
sex                  male
age                    19
sibsp                   0
parch                   0
fare                 6.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 143, dtype: object

survived                 0
pclass                   2
sex                   male
age                     18
sibsp                    0
parch                    0
fare                  11.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 144, dtype: object

survived                 0
pclass                   2
sex                   male
age                     19
sibsp                    1
parch                    1
fare                 36.75
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 145, dtype: object

survived                 0
pclass                   3
sex                 female
age                      9
sibsp                    2
parch                    2
fare                34.375
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 147, dtype: object

survived                 0
pclass                   2
sex                   male
age                   36.5
sibsp                    0
parch                    2
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                False
Name: 148, dtype: object

survived                 0
pclass                   2
sex                   male
age                     42
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 149, dtype: object

survived                 0
pclass                   2
sex                   male
age                     51
sibsp                    0
parch                    0
fare                12.525
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 150, dtype: object

survived                 0
pclass                   3
sex                   male
age                   55.5
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 152, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.3125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 154, dtype: object

survived                1
pclass                  3
sex                female
age                    16
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 156, dtype: object

survived                 0
pclass                   3
sex                   male
age                     30
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 157, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 158, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 159, dtype: object

survived                 0
pclass                   3
sex                   male
age                     44
sibsp                    0
parch                    1
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 160, dtype: object

survived                 1
pclass                   2
sex                 female
age                     40
sibsp                    0
parch                    0
fare                 15.75
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 161, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 162, dtype: object

survived                 0
pclass                   3
sex                   male
age                     17
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 163, dtype: object

survived                 0
pclass                   3
sex                   male
age                      1
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 164, dtype: object

survived                 1
pclass                   3
sex                   male
age                      9
sibsp                    0
parch                    2
fare                20.525
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 165, dtype: object

survived                0
pclass                  3
sex                  male
age                     4
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 171, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 173, dtype: object

survived                 0
pclass                   3
sex                   male
age                     18
sibsp                    1
parch                    1
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 175, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 176, dtype: object

survived                 0
pclass                   2
sex                   male
age                     30
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 178, dtype: object

survived                 0
pclass                   3
sex                   male
age                     36
sibsp                    0
parch                    0
fare                     0
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 179, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 180, dtype: object

survived               0
pclass                 2
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               15.05
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 181, dtype: object

survived                 0
pclass                   3
sex                   male
age                      9
sibsp                    4
parch                    2
fare               31.3875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 182, dtype: object

survived                 1
pclass                   2
sex                   male
age                      1
sibsp                    2
parch                    1
fare                    39
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 183, dtype: object

survived                 1
pclass                   3
sex                 female
age                      4
sibsp                    0
parch                    2
fare                22.025
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 184, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 186, dtype: object

survived                 0
pclass                   3
sex                   male
age                     36
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 189, dtype: object

survived                 1
pclass                   2
sex                 female
age                     32
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 190, dtype: object

survived                 0
pclass                   2
sex                   male
age                     19
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 191, dtype: object

survived                 1
pclass                   2
sex                   male
age                      3
sibsp                    1
parch                    1
fare                    26
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 193, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 196, dtype: object

survived                 0
pclass                   3
sex                   male
age                     42
sibsp                    0
parch                    1
fare                8.4042
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 197, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 198, dtype: object

survived                 0
pclass                   2
sex                 female
age                     24
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 199, dtype: object

survived                 0
pclass                   3
sex                   male
age                     28
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 200, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 201, dtype: object

survived                 0
pclass                   3
sex                   male
age                     34
sibsp                    0
parch                    0
fare                6.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 202, dtype: object

survived               0
pclass                 3
sex                 male
age                 45.5
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 203, dtype: object

survived                 1
pclass                   3
sex                   male
age                     18
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 204, dtype: object

survived                 0
pclass                   3
sex                   male
age                     32
sibsp                    1
parch                    0
fare                 15.85
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 206, dtype: object

survived                1
pclass                  3
sex                female
age                    16
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 208, dtype: object

survived                 1
pclass                   2
sex                 female
age                     35
sibsp                    0
parch                    0
fare                    21
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 211, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 212, dtype: object

survived                 0
pclass                   2
sex                   male
age                     30
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 213, dtype: object

survived                 1
pclass                   3
sex                 female
age                     27
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 216, dtype: object

survived                 0
pclass                   2
sex                   male
age                     42
sibsp                    1
parch                    0
fare                    27
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 217, dtype: object

survived                 1
pclass                   3
sex                   male
age                     16
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 220, dtype: object

survived                 0
pclass                   2
sex                   male
age                     27
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 221, dtype: object

survived                 0
pclass                   3
sex                   male
age                     51
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 222, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 223, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                  9.35
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 225, dtype: object

survived                 1
pclass                   2
sex                   male
age                     19
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 226, dtype: object

survived                 0
pclass                   3
sex                   male
age                   20.5
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 227, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 229, dtype: object

survived                 0
pclass                   2
sex                   male
age                     59
sibsp                    0
parch                    0
fare                  13.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 232, dtype: object

survived                 1
pclass                   3
sex                 female
age                      5
sibsp                    4
parch                    2
fare               31.3875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 233, dtype: object

survived                 0
pclass                   2
sex                   male
age                     24
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 234, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    0
parch                    0
fare                  7.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 235, dtype: object

survived                 0
pclass                   2
sex                   male
age                     44
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 236, dtype: object

survived                 1
pclass                   2
sex                 female
age                      8
sibsp                    0
parch                    2
fare                 26.25
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 237, dtype: object

survived               0
pclass                 3
sex               female
age                  NaN
sibsp                  1
parch                  0
fare             14.4542
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 240, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 241, dtype: object

survived                 0
pclass                   2
sex                   male
age                     29
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 242, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                 7.125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 243, dtype: object

survived               0
pclass                 3
sex                 male
age                   30
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 244, dtype: object

survived                 0
pclass                   3
sex                 female
age                     25
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 246, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    0
parch                    2
fare                  14.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 247, dtype: object

survived                 0
pclass                   2
sex                   male
age                     54
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 249, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 250, dtype: object

survived                 0
pclass                   3
sex                 female
age                     29
sibsp                    1
parch                    1
fare               10.4625
embarked                 S
class                Third
who                  woman
adult_male           False
deck                     G
embark_town    Southampton
alive                   no
alone                False
Name: 251, dtype: object

survived                 0
pclass                   3
sex                   male
age                     30
sibsp                    1
parch                    0
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 253, dtype: object

survived                 0
pclass                   3
sex                 female
age                     41
sibsp                    0
parch                    2
fare               20.2125
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 254, dtype: object

survived               1
pclass                 3
sex               female
age                   29
sibsp                  0
parch                  2
fare             15.2458
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 255, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 260, dtype: object

survived                 1
pclass                   3
sex                   male
age                      3
sibsp                    4
parch                    2
fare               31.3875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 261, dtype: object

survived                0
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 264, dtype: object

survived                 0
pclass                   2
sex                   male
age                     36
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 265, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 266, dtype: object

survived                 1
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                     0
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 271, dtype: object

survived                 1
pclass                   2
sex                 female
age                     41
sibsp                    0
parch                    1
fare                  19.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 272, dtype: object

survived                 0
pclass                   3
sex                 female
age                     45
sibsp                    0
parch                    0
fare                  7.75
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 276, dtype: object

survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                     0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 277, dtype: object

survived                0
pclass                  3
sex                  male
age                     7
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 278, dtype: object

survived                 1
pclass                   3
sex                 female
age                     35
sibsp                    1
parch                    1
fare                 20.25
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 279, dtype: object

survived                0
pclass                  3
sex                  male
age                    65
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 280, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 282, dtype: object

survived                 1
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 283, dtype: object

survived               0
pclass                 3
sex                 male
age                   33
sibsp                  0
parch                  0
fare              8.6625
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 285, dtype: object

survived                 1
pclass                   3
sex                   male
age                     30
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 286, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 287, dtype: object

survived                1
pclass                  3
sex                female
age                    22
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 289, dtype: object

survived               0
pclass                 2
sex                 male
age                   36
sibsp                  0
parch                  0
fare              12.875
embarked               C
class             Second
who                  man
adult_male          True
deck                   D
embark_town    Cherbourg
alive                 no
alone               True
Name: 292, dtype: object

survived                 0
pclass                   3
sex                 female
age                     24
sibsp                    0
parch                    0
fare                  8.85
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 293, dtype: object

survived                 0
pclass                   3
sex                   male
age                     24
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 294, dtype: object

survived               0
pclass                 3
sex                 male
age                 23.5
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 296, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 300, dtype: object

survived                1
pclass                  3
sex                  male
age                   NaN
sibsp                   2
parch                   0
fare                23.25
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 301, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                     0
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 302, dtype: object

survived                1
pclass                  2
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                12.35
embarked                Q
class              Second
who                 woman
adult_male          False
deck                    E
embark_town    Queenstown
alive                 yes
alone                True
Name: 303, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 304, dtype: object

survived               0
pclass                 2
sex                 male
age                   30
sibsp                  1
parch                  0
fare                  24
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 308, dtype: object

survived                 0
pclass                   2
sex                 female
age                     26
sibsp                    1
parch                    1
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 312, dtype: object

survived                 0
pclass                   3
sex                   male
age                     28
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 313, dtype: object

survived                 0
pclass                   2
sex                   male
age                     43
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 314, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 316, dtype: object

survived                 0
pclass                   2
sex                   male
age                     54
sibsp                    0
parch                    0
fare                    14
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 317, dtype: object

survived                 0
pclass                   3
sex                   male
age                     27
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 321, dtype: object

survived                1
pclass                  2
sex                female
age                    30
sibsp                   0
parch                   0
fare                12.35
embarked                Q
class              Second
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 322, dtype: object

survived                 1
pclass                   2
sex                 female
age                     22
sibsp                    1
parch                    1
fare                    29
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 323, dtype: object

survived                 0
pclass                   3
sex                   male
age                     61
sibsp                    0
parch                    0
fare                6.2375
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 326, dtype: object

survived                 1
pclass                   2
sex                 female
age                     36
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 327, dtype: object

survived                 1
pclass                   3
sex                 female
age                     31
sibsp                    1
parch                    1
fare                20.525
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 328, dtype: object

survived                 1
pclass                   3
sex                   male
age                     45
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 338, dtype: object

survived                 1
pclass                   2
sex                   male
age                      2
sibsp                    1
parch                    1
fare                    26
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 340, dtype: object

survived                 0
pclass                   2
sex                   male
age                     28
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 342, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                 True
Name: 345, dtype: object

survived                 1
pclass                   2
sex                 female
age                     40
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 346, dtype: object

survived                 1
pclass                   3
sex                 female
age                    NaN
sibsp                    1
parch                    0
fare                  16.1
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 347, dtype: object

survived                 1
pclass                   3
sex                   male
age                      3
sibsp                    1
parch                    1
fare                  15.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 348, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    1
parch                    0
fare                  17.8
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 353, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 354, dtype: object

survived                 0
pclass                   2
sex                 female
age                     38
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 357, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 359, dtype: object

survived                 0
pclass                   3
sex                   male
age                     40
sibsp                    1
parch                    4
fare                  27.9
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 360, dtype: object

survived               0
pclass                 2
sex                 male
age                   29
sibsp                  1
parch                  0
fare             27.7208
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 361, dtype: object

survived               0
pclass                 3
sex               female
age                   45
sibsp                  0
parch                  1
fare             14.4542
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 362, dtype: object

survived                 0
pclass                   3
sex                   male
age                     35
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 363, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 364, dtype: object

survived                 0
pclass                   3
sex                   male
age                     30
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 365, dtype: object

survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 367, dtype: object

survived                 0
pclass                   3
sex                   male
age                     18
sibsp                    1
parch                    0
fare                6.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 371, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 372, dtype: object

survived                 0
pclass                   3
sex                 female
age                      3
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 374, dtype: object

survived                 1
pclass                   3
sex                 female
age                     22
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 376, dtype: object

survived               0
pclass                 3
sex                 male
age                   20
sibsp                  0
parch                  0
fare              4.0125
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 378, dtype: object

survived                 0
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 382, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 384, dtype: object

survived                 0
pclass                   2
sex                   male
age                     18
sibsp                    0
parch                    0
fare                  73.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 385, dtype: object

survived                 1
pclass                   2
sex                 female
age                     36
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 387, dtype: object

survived                 0
pclass                   3
sex                   male
age                     28
sibsp                    2
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 392, dtype: object

survived                 1
pclass                   3
sex                 female
age                     24
sibsp                    0
parch                    2
fare                  16.7
embarked                 S
class                Third
who                  woman
adult_male           False
deck                     G
embark_town    Southampton
alive                  yes
alone                False
Name: 394, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                7.7958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 395, dtype: object

survived                 0
pclass                   3
sex                 female
age                     31
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 396, dtype: object

survived                 0
pclass                   2
sex                   male
age                     46
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 397, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 401, dtype: object

survived                 0
pclass                   2
sex                   male
age                     34
sibsp                    1
parch                    0
fare                    21
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 405, dtype: object

survived                 0
pclass                   3
sex                   male
age                     51
sibsp                    0
parch                    0
fare                  7.75
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 406, dtype: object

survived                 1
pclass                   2
sex                   male
age                      3
sibsp                    1
parch                    1
fare                 18.75
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 407, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 408, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 409, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 410, dtype: object

survived                 1
pclass                   3
sex                   male
age                     44
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 414, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 415, dtype: object

survived                 1
pclass                   2
sex                 female
age                     34
sibsp                    1
parch                    1
fare                  32.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 416, dtype: object

survived                 1
pclass                   2
sex                 female
age                     18
sibsp                    0
parch                    2
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 417, dtype: object

survived                 0
pclass                   2
sex                   male
age                     30
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 418, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 420, dtype: object

survived                0
pclass                  3
sex                  male
age                    21
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 421, dtype: object

survived                 0
pclass                   3
sex                   male
age                     29
sibsp                    0
parch                    0
fare                 7.875
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 422, dtype: object

survived                 0
pclass                   3
sex                   male
age                     18
sibsp                    1
parch                    1
fare               20.2125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 424, dtype: object

survived                 1
pclass                   2
sex                 female
age                     19
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 427, dtype: object

survived                 1
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 429, dtype: object

survived                 0
pclass                   3
sex                   male
age                     17
sibsp                    0
parch                    0
fare                 7.125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 433, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    2
parch                    3
fare                 18.75
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 437, dtype: object

survived                 1
pclass                   2
sex                 female
age                     45
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 440, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 441, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    1
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 442, dtype: object

survived                 1
pclass                   2
sex                 female
age                     28
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 443, dtype: object

survived                 1
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                8.1125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 444, dtype: object

survived                 1
pclass                   2
sex                 female
age                     13
sibsp                    0
parch                    1
fare                  19.5
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 446, dtype: object

survived               1
pclass                 3
sex               female
age                    5
sibsp                  2
parch                  1
fare             19.2583
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 448, dtype: object

survived                 0
pclass                   2
sex                   male
age                     36
sibsp                    1
parch                    2
fare                 27.75
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 450, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    1
parch                    0
fare               19.9667
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 451, dtype: object

survived               1
pclass                 3
sex                 male
age                   29
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 455, dtype: object

survived                 1
pclass                   2
sex                 female
age                     50
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 458, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 459, dtype: object

survived                 0
pclass                   3
sex                   male
age                     34
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 461, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 464, dtype: object

survived                 0
pclass                   3
sex                   male
age                     38
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 465, dtype: object

survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                     0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 466, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                7.725
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 468, dtype: object

survived               1
pclass                 3
sex               female
age                 0.75
sibsp                  2
parch                  1
fare             19.2583
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 469, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 470, dtype: object

survived                 0
pclass                   3
sex                   male
age                     38
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 471, dtype: object

survived                 1
pclass                   2
sex                 female
age                     33
sibsp                    1
parch                    2
fare                 27.75
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 472, dtype: object

survived               1
pclass                 2
sex               female
age                   23
sibsp                  0
parch                  0
fare             13.7917
embarked               C
class             Second
who                woman
adult_male         False
deck                   D
embark_town    Cherbourg
alive                yes
alone               True
Name: 473, dtype: object

survived                 0
pclass                   2
sex                   male
age                     34
sibsp                    1
parch                    0
fare                    21
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 476, dtype: object

survived                 0
pclass                   3
sex                   male
age                     29
sibsp                    1
parch                    0
fare                7.0458
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 477, dtype: object

survived                 0
pclass                   3
sex                   male
age                      9
sibsp                    5
parch                    2
fare                  46.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 480, dtype: object

survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                     0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 481, dtype: object

survived                 1
pclass                   3
sex                 female
age                     63
sibsp                    0
parch                    0
fare                9.5875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 483, dtype: object

survived                 0
pclass                   3
sex                   male
age                     30
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 488, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    1
parch                    0
fare               19.9667
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 490, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 491, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare             14.4583
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 495, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  15.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 497, dtype: object

survived                 0
pclass                   3
sex                   male
age                     17
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 500, dtype: object

survived                0
pclass                  3
sex                female
age                    21
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 501, dtype: object

survived                0
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.6292
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 502, dtype: object

survived                 0
pclass                   3
sex                 female
age                     37
sibsp                    0
parch                    0
fare                9.5875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 503, dtype: object

survived                 1
pclass                   2
sex                 female
age                     33
sibsp                    0
parch                    2
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 506, dtype: object

survived                 0
pclass                   3
sex                   male
age                     28
sibsp                    0
parch                    0
fare                22.525
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 508, dtype: object

survived                1
pclass                  3
sex                  male
age                    29
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 510, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 511, dtype: object

survived                 1
pclass                   2
sex                 female
age                     34
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                 True
Name: 516, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                24.15
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 517, dtype: object

survived                 1
pclass                   2
sex                 female
age                     36
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 518, dtype: object

survived                 0
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 519, dtype: object

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 521, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 522, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 524, dtype: object

survived                0
pclass                  3
sex                  male
age                  40.5
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 525, dtype: object

survived                 1
pclass                   2
sex                 female
age                     50
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 526, dtype: object

survived                 0
pclass                   3
sex                   male
age                     39
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 528, dtype: object

survived                 0
pclass                   2
sex                   male
age                     23
sibsp                    2
parch                    1
fare                  11.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 529, dtype: object

survived                 1
pclass                   2
sex                 female
age                      2
sibsp                    1
parch                    1
fare                    26
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 530, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 531, dtype: object

survived               0
pclass                 3
sex                 male
age                   17
sibsp                  1
parch                  1
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 532, dtype: object

survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  2
fare             22.3583
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 533, dtype: object

survived                 0
pclass                   3
sex                 female
age                     30
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 534, dtype: object

survived                 1
pclass                   2
sex                 female
age                      7
sibsp                    0
parch                    2
fare                 26.25
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 535, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  14.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 538, dtype: object

survived                 0
pclass                   3
sex                 female
age                     11
sibsp                    4
parch                    2
fare                31.275
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 542, dtype: object

survived                 1
pclass                   2
sex                   male
age                     32
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 543, dtype: object

survived                 1
pclass                   2
sex                 female
age                     19
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 546, dtype: object

survived               1
pclass                 2
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare             13.8625
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 547, dtype: object

survived                 0
pclass                   3
sex                   male
age                     33
sibsp                    1
parch                    1
fare                20.525
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 548, dtype: object

survived                 1
pclass                   2
sex                   male
age                      8
sibsp                    1
parch                    1
fare                 36.75
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 549, dtype: object

survived                 0
pclass                   2
sex                   male
age                     27
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 551, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare               7.8292
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 552, dtype: object

survived               1
pclass                 3
sex                 male
age                   22
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 553, dtype: object

survived                 1
pclass                   3
sex                 female
age                     22
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 554, dtype: object

survived                 1
pclass                   3
sex                 female
age                     36
sibsp                    1
parch                    0
fare                  17.4
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 559, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 560, dtype: object

survived                 0
pclass                   3
sex                   male
age                     40
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 561, dtype: object

survived                 0
pclass                   2
sex                   male
age                     28
sibsp                    0
parch                    0
fare                  13.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 562, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 563, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 564, dtype: object

survived                 0
pclass                   3
sex                   male
age                     24
sibsp                    2
parch                    0
fare                 24.15
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 565, dtype: object

survived                 0
pclass                   3
sex                 female
age                     29
sibsp                    0
parch                    4
fare                21.075
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 567, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 568, dtype: object

survived                 1
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 569, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 574, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                  14.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 575, dtype: object

survived               0
pclass                 3
sex               female
age                  NaN
sibsp                  1
parch                  0
fare             14.4583
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 578, dtype: object

survived                 1
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 579, dtype: object

survived                 1
pclass                   2
sex                 female
age                     25
sibsp                    1
parch                    1
fare                    30
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 580, dtype: object

survived                 0
pclass                   2
sex                   male
age                     54
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 582, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              8.7125
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 584, dtype: object

survived                 0
pclass                   2
sex                   male
age                     47
sibsp                    0
parch                    0
fare                    15
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 586, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 589, dtype: object

survived                 0
pclass                   3
sex                   male
age                     47
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 592, dtype: object

survived                 0
pclass                   2
sex                   male
age                     37
sibsp                    1
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 594, dtype: object

survived                 0
pclass                   3
sex                   male
age                     36
sibsp                    1
parch                    1
fare                 24.15
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 595, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 598, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    2
parch                    1
fare                    27
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 600, dtype: object

survived                 0
pclass                   3
sex                   male
age                     36
sibsp                    1
parch                    0
fare                 15.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 605, dtype: object

survived                 0
pclass                   3
sex                   male
age                     30
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 606, dtype: object

survived                 0
pclass                   3
sex                 female
age                     39
sibsp                    1
parch                    5
fare                31.275
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 610, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 612, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 613, dtype: object

survived                 0
pclass                   3
sex                   male
age                     35
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 614, dtype: object

survived                 1
pclass                   2
sex                 female
age                     24
sibsp                    1
parch                    2
fare                    65
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 615, dtype: object

survived                 0
pclass                   3
sex                 female
age                     26
sibsp                    1
parch                    0
fare                  16.1
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 617, dtype: object

survived                 1
pclass                   2
sex                 female
age                      4
sibsp                    2
parch                    1
fare                    39
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 618, dtype: object

survived                 0
pclass                   2
sex                   male
age                     26
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 619, dtype: object

survived               0
pclass                 3
sex                 male
age                   27
sibsp                  1
parch                  0
fare             14.4542
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 620, dtype: object

survived               1
pclass                 3
sex                 male
age                   20
sibsp                  1
parch                  1
fare             15.7417
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 622, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 623, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 624, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 628, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 629, dtype: object

survived                 0
pclass                   3
sex                   male
age                     51
sibsp                    0
parch                    0
fare                7.0542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 631, dtype: object

survived                 0
pclass                   3
sex                 female
age                      9
sibsp                    3
parch                    2
fare                  27.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 634, dtype: object

survived                 1
pclass                   2
sex                 female
age                     28
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 635, dtype: object

survived                 0
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 636, dtype: object

survived                 0
pclass                   2
sex                   male
age                     31
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 637, dtype: object

survived                 0
pclass                   3
sex                 female
age                     41
sibsp                    0
parch                    5
fare               39.6875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 638, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 640, dtype: object

survived               1
pclass                 3
sex               female
age                 0.75
sibsp                  2
parch                  1
fare             19.2583
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 644, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 646, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  7.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 648, dtype: object

survived                 1
pclass                   3
sex                 female
age                     23
sibsp                    0
parch                    0
fare                  7.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 649, dtype: object

survived                 0
pclass                   3
sex                   male
age                     21
sibsp                    0
parch                    0
fare                8.4333
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 652, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8292
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 653, dtype: object

survived                 0
pclass                   2
sex                   male
age                     24
sibsp                    2
parch                    0
fare                  73.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 655, dtype: object

survived                0
pclass                  3
sex                female
age                    32
sibsp                   1
parch                   1
fare                 15.5
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 657, dtype: object

survived                 0
pclass                   2
sex                   male
age                     23
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 658, dtype: object

survived               0
pclass                 3
sex                 male
age                   40
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 661, dtype: object

survived                 0
pclass                   3
sex                   male
age                     36
sibsp                    0
parch                    0
fare                7.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 663, dtype: object

survived                 1
pclass                   3
sex                   male
age                     20
sibsp                    1
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 664, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 667, dtype: object

survived                 1
pclass                   2
sex                 female
age                     40
sibsp                    1
parch                    1
fare                    39
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 670, dtype: object

survived                 0
pclass                   2
sex                   male
age                     70
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 672, dtype: object

survived                 1
pclass                   2
sex                   male
age                     31
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 673, dtype: object

survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                     0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 674, dtype: object

survived                 1
pclass                   3
sex                 female
age                     18
sibsp                    0
parch                    0
fare                9.8417
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 677, dtype: object

survived                0
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               8.1375
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 680, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                 9.225
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 682, dtype: object

survived                 0
pclass                   3
sex                   male
age                     14
sibsp                    5
parch                    2
fare                  46.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 683, dtype: object

survived                 0
pclass                   2
sex                   male
age                     60
sibsp                    1
parch                    1
fare                    39
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 684, dtype: object

survived                 0
pclass                   3
sex                   male
age                     14
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 686, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare               10.1708
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 687, dtype: object

survived               1
pclass                 3
sex               female
age                    4
sibsp                  0
parch                  1
fare             13.4167
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 691, dtype: object

survived                 1
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare               56.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 692, dtype: object

survived               0
pclass                 3
sex                 male
age                   25
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 693, dtype: object

survived                 0
pclass                   3
sex                   male
age                     44
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 696, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 697, dtype: object

survived                 0
pclass                   3
sex                   male
age                     42
sibsp                    0
parch                    0
fare                  7.65
embarked                 S
class                Third
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                 True
Name: 699, dtype: object

survived               0
pclass                 3
sex               female
age                   18
sibsp                  0
parch                  1
fare             14.4542
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 702, dtype: object

survived                0
pclass                  3
sex                  male
age                    25
sibsp                   0
parch                   0
fare               7.7417
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 703, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    1
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 704, dtype: object

survived                 0
pclass                   2
sex                   male
age                     39
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 705, dtype: object

survived                 1
pclass                   2
sex                 female
age                     45
sibsp                    0
parch                    0
fare                  13.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 706, dtype: object

survived                 0
pclass                   2
sex                   male
age                     52
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 714, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 15.5
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 718, dtype: object

survived                 0
pclass                   3
sex                   male
age                     33
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 719, dtype: object

survived                 1
pclass                   2
sex                 female
age                      6
sibsp                    0
parch                    1
fare                    33
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 720, dtype: object

survived                 0
pclass                   2
sex                   male
age                     50
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 723, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 725, dtype: object

survived                 1
pclass                   2
sex                 female
age                     30
sibsp                    3
parch                    0
fare                    21
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 726, dtype: object

survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.7375
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 727, dtype: object

survived                 0
pclass                   3
sex                 female
age                     25
sibsp                    1
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 729, dtype: object

survived               0
pclass                 3
sex                 male
age                   11
sibsp                  0
parch                  0
fare             18.7875
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 731, dtype: object

survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                     0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 732, dtype: object

survived                 0
pclass                   2
sex                   male
age                     23
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 733, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 739, dtype: object

survived                 0
pclass                   3
sex                   male
age                     24
sibsp                    1
parch                    0
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 743, dtype: object

survived                 1
pclass                   3
sex                   male
age                     31
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 744, dtype: object

survived                 0
pclass                   3
sex                   male
age                     16
sibsp                    1
parch                    1
fare                 20.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 746, dtype: object

survived                 1
pclass                   2
sex                 female
age                     30
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 747, dtype: object

survived                0
pclass                  3
sex                  male
age                    31
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 749, dtype: object

survived                 1
pclass                   2
sex                 female
age                      4
sibsp                    1
parch                    1
fare                    23
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 750, dtype: object

survived                 1
pclass                   3
sex                   male
age                      6
sibsp                    0
parch                    1
fare                12.475
embarked                 S
class                Third
who                  child
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 751, dtype: object

survived                 0
pclass                   3
sex                   male
age                     33
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 752, dtype: object

survived                 0
pclass                   3
sex                   male
age                     23
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 753, dtype: object

survived                 1
pclass                   2
sex                 female
age                     48
sibsp                    1
parch                    2
fare                    65
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 754, dtype: object

survived                 1
pclass                   2
sex                   male
age                   0.67
sibsp                    1
parch                    1
fare                  14.5
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 755, dtype: object

survived                 0
pclass                   3
sex                   male
age                     34
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 758, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  14.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 760, dtype: object

survived                 0
pclass                   3
sex                   male
age                     41
sibsp                    0
parch                    0
fare                 7.125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 761, dtype: object

survived               1
pclass                 3
sex                 male
age                   20
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 762, dtype: object

survived                0
pclass                  3
sex                female
age                  30.5
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 767, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   1
parch                   0
fare                24.15
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 768, dtype: object

survived                 0
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare                8.3625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 769, dtype: object

survived                 0
pclass                   3
sex                   male
age                     48
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 771, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 773, dtype: object

survived                 0
pclass                   3
sex                   male
age                     18
sibsp                    0
parch                    0
fare                  7.75
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 775, dtype: object

survived                 1
pclass                   3
sex                 female
age                      5
sibsp                    0
parch                    0
fare                12.475
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 777, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare               7.7375
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 778, dtype: object

survived               1
pclass                 3
sex               female
age                   13
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 780, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 784, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 785, dtype: object

survived                 1
pclass                   3
sex                 female
age                     18
sibsp                    0
parch                    0
fare                7.4958
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 786, dtype: object

survived                0
pclass                  3
sex                  male
age                     8
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 787, dtype: object

survived                 1
pclass                   3
sex                   male
age                      1
sibsp                    1
parch                    2
fare                20.575
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 788, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 790, dtype: object

survived                 0
pclass                   2
sex                   male
age                     16
sibsp                    0
parch                    0
fare                    26
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 791, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 794, dtype: object

survived                 0
pclass                   2
sex                   male
age                     39
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 795, dtype: object

survived               0
pclass                 3
sex                 male
age                   30
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 798, dtype: object

survived                 0
pclass                   2
sex                   male
age                     34
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 800, dtype: object

survived                 1
pclass                   2
sex                 female
age                     31
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 801, dtype: object

survived                 1
pclass                   3
sex                   male
age                     27
sibsp                    0
parch                    0
fare                 6.975
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 804, dtype: object

survived                 0
pclass                   3
sex                 female
age                     18
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 807, dtype: object

survived                 0
pclass                   2
sex                   male
age                     39
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 808, dtype: object

survived                 0
pclass                   3
sex                   male
age                     26
sibsp                    0
parch                    0
fare                7.8875
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 810, dtype: object

survived                 0
pclass                   3
sex                   male
age                     39
sibsp                    0
parch                    0
fare                 24.15
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 811, dtype: object

survived                 0
pclass                   2
sex                   male
age                     35
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 812, dtype: object

survived                 0
pclass                   3
sex                 female
age                      6
sibsp                    4
parch                    2
fare                31.275
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 813, dtype: object

survived                 0
pclass                   3
sex                   male
age                   30.5
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 814, dtype: object

survived                 0
pclass                   3
sex                 female
age                     23
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 816, dtype: object

survived               0
pclass                 2
sex                 male
age                   31
sibsp                  1
parch                  1
fare             37.0042
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 817, dtype: object

survived                 0
pclass                   3
sex                   male
age                     43
sibsp                    0
parch                    0
fare                  6.45
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 818, dtype: object

survived                 0
pclass                   3
sex                   male
age                     10
sibsp                    3
parch                    2
fare                  27.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 819, dtype: object

survived                 1
pclass                   3
sex                 female
age                     27
sibsp                    0
parch                    1
fare                12.475
embarked                 S
class                Third
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 823, dtype: object

survived                 0
pclass                   3
sex                   male
age                      2
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 824, dtype: object

survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 6.95
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 825, dtype: object

survived               1
pclass                 2
sex                 male
age                    1
sibsp                  0
parch                  2
fare             37.0042
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 827, dtype: object

survived               1
pclass                 3
sex               female
age                   15
sibsp                  1
parch                  0
fare             14.4542
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 830, dtype: object

survived                 1
pclass                   2
sex                   male
age                   0.83
sibsp                    1
parch                    1
fare                 18.75
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 831, dtype: object

survived                 0
pclass                   3
sex                   male
age                     23
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 833, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 837, dtype: object

survived                 1
pclass                   3
sex                   male
age                     32
sibsp                    0
parch                    0
fare               56.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 838, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 840, dtype: object

survived                 0
pclass                   2
sex                   male
age                     16
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 841, dtype: object

survived               0
pclass                 3
sex                 male
age                 34.5
sibsp                  0
parch                  0
fare              6.4375
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 843, dtype: object

survived                 0
pclass                   3
sex                   male
age                     17
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 844, dtype: object

survived                 0
pclass                   3
sex                   male
age                     42
sibsp                    0
parch                    0
fare                  7.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 845, dtype: object

survived               0
pclass                 3
sex                 male
age                   35
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 847, dtype: object

survived                 0
pclass                   2
sex                   male
age                     28
sibsp                    0
parch                    1
fare                    33
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 848, dtype: object

survived                 0
pclass                   3
sex                   male
age                      4
sibsp                    4
parch                    2
fare                31.275
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 850, dtype: object

survived               0
pclass                 3
sex               female
age                    9
sibsp                  1
parch                  1
fare             15.2458
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 852, dtype: object

survived                 1
pclass                   3
sex                 female
age                     18
sibsp                    0
parch                    1
fare                  9.35
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 855, dtype: object

survived               1
pclass                 3
sex               female
age                   24
sibsp                  0
parch                  3
fare             19.2583
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 858, dtype: object

survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 859, dtype: object

survived                 0
pclass                   3
sex                   male
age                     41
sibsp                    2
parch                    0
fare               14.1083
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 860, dtype: object

survived                 0
pclass                   2
sex                   male
age                     21
sibsp                    1
parch                    0
fare                  11.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 861, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 863, dtype: object

survived                 0
pclass                   2
sex                   male
age                     24
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 864, dtype: object

survived                 1
pclass                   2
sex                 female
age                     42
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 865, dtype: object

survived               1
pclass                 2
sex               female
age                   27
sibsp                  1
parch                  0
fare             13.8583
embarked               C
class             Second
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 866, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 868, dtype: object

survived                 1
pclass                   3
sex                   male
age                      4
sibsp                    1
parch                    1
fare               11.1333
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 869, dtype: object

survived               1
pclass                 2
sex               female
age                   28
sibsp                  1
parch                  0
fare                  24
embarked               C
class             Second
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 874, dtype: object

survived                 0
pclass                   3
sex                   male
age                     20
sibsp                    0
parch                    0
fare                9.8458
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 876, dtype: object

survived                 0
pclass                   3
sex                   male
age                     19
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 877, dtype: object

survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 878, dtype: object

survived                 1
pclass                   2
sex                 female
age                     25
sibsp                    0
parch                    1
fare                    26
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 880, dtype: object

survived                 0
pclass                   3
sex                   male
age                     33
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 881, dtype: object

survived                 0
pclass                   3
sex                 female
age                     22
sibsp                    0
parch                    0
fare               10.5167
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 882, dtype: object

survived                 0
pclass                   3
sex                   male
age                     25
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 884, dtype: object

survived                 0
pclass                   2
sex                   male
age                     27
sibsp                    0
parch                    0
fare                    13
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 886, dtype: object

survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    1
parch                    2
fare                 23.45
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 888, dtype: object

survived                0
pclass                  3
sex                  male
age                    32
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

IndexError: single positional indexer is out-of-bounds

### pivot(index , columns , value)
### pivot_table(data , values , index , columns , aggfunc='mean')

In [ ]:
# sex,  pclass
df = titanic_datasets.loc[ :  , ['sex', 'pclass']] 
type( df )

In [ ]:
df = pd.DataFrame(titanic_datasets , columns=['sex' , 'pclass']) 
type( df )

In [ ]:
# 성별과 객실등급에 따른 승객 수 집계하고 싶다면?
# groupby
df = titanic_datasets.groupby(['sex' , 'pclass']).size()
df

In [ ]:
df = titanic_datasets.groupby(['sex' , 'pclass']).size().reset_index(name='cnt')
# type(df)

df

In [ ]:
df.pivot('sex' , 'pclass' , 'cnt')

In [ ]:
# 성별과 생존여부에 따른 승객 수 집계한다면?
df = titanic_datasets.groupby(['sex' , 'survived']).size().reset_index(name='cnt')
df.pivot('sex' , 'survived' , 'cnt')

In [ ]:
# 성별과 객식등급('pclass')에 따른 승객 수 집계
# pivot_table(  , aggfunc = mean | sum) 

titanic_datasets['cnt'] = 1 
titanic_datasets

In [ ]:
# titanic_datasets.pivot_table(index='sex' , columns='pclass' , values='cnt' , aggfunc=np.sum)
# titanic_datasets.pivot_table(index='sex' , columns='survived' , values='cnt' , aggfunc=np.sum)
titanic_datasets.pivot_table(index='sex' , columns='pclass' , values='cnt' , aggfunc=[np.sum , np.mean])

In [ ]:
tips_datasets = sns.load_dataset('tips')
tips_datasets.info()

In [ ]:
# 식사대금 대비 팁의 비율이 어떤 경우에 가장 높은지를 찾는다면?
tips_datasets['tip_pct'] = tips_datasets['tip'] / tips_datasets['total_bill']
tips_datasets

In [29]:
tips_datasets.describe()

NameError: name 'tips_datasets' is not defined

In [30]:
tips_datasets

NameError: name 'tips_datasets' is not defined

In [31]:
tips_datasets.groupby('sex').size()

NameError: name 'tips_datasets' is not defined

In [32]:
tips_datasets.groupby(['sex' , 'smoker'] ).count()

NameError: name 'tips_datasets' is not defined

In [33]:
pd.pivot_table(data    = tips_datasets , 
               index   = 'sex' , 
               columns = 'smoker' , 
               values  = 'tip_pct' , 
               aggfunc = 'count' , 
               margins = True)

NameError: name 'tips_datasets' is not defined

In [34]:
# 성별과 흡연여부에 따른 평균 팁 비율을 살펴본다면?
# groupby
tips_datasets.groupby(['sex', 'smoker'])[['tip_pct']].mean()
# pivot_table

NameError: name 'tips_datasets' is not defined

In [35]:
pd.pivot_table(data    = tips_datasets , 
               index   = 'sex' , 
               columns = 'smoker' , 
               values  = 'tip_pct' , 
               aggfunc = 'mean' , 
               margins = True)

NameError: name 'tips_datasets' is not defined

In [36]:
titanic_datasets

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [37]:
# 나이에 대한 범주
titanic_datasets['age_qcut'] = pd.qcut(titanic_datasets['age'] , 3 , labels=['A', 'B', 'C']).astype(str)
titanic_datasets

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_qcut
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,A
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,C
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,B
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,C
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,B
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,A
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,nan
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,B
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,B

In [38]:
# 성별, 선실, 나이그룹(age_qcut) 의한 생존율을 데이터프레임으로 생성하고
# 행에는 성별 및 나이그룹에 대한 다중 인덱스를 사용하고 열에는 선실 인덱스를 사용한다

resultDF = titanic_datasets.pivot_table(index   = ['sex', 'age_qcut'] , 
                             columns = 'pclass' , 
                             values  = 'survived' , 
                             margins = True , 
                             margins_name = 'survived_ratio' , 
                             aggfunc = 'count')

In [39]:
all_cnt = resultDF.loc['survived_ratio' , 'survived_ratio'][0]

In [40]:
survived_ration_df = resultDF/ all_cnt

In [41]:
survived_ration_df

pclass                          1         2         3  survived_ratio
sex            age_qcut
female         A         0.024691  0.022447  0.066218        0.113356
               B         0.021324  0.037037  0.030303        0.088664
               C         0.049383  0.023569  0.017957        0.090909
               nan       0.010101  0.002245  0.047138        0.059484
male           A         0.011223  0.031425  0.120090        0.162738
               B         0.024691  0.043771  0.103255        0.171717
               C         0.077441  0.035915  0.060606        0.173962
               nan       0.023569  0.010101  0.105499        0.139169
survived_ratio           0.242424  0.206510  0.551066        1.000000

In [42]:
ratingsDF = pd.read_csv('./data/users.dat' , sep='::' , header=None)

<ipython-input-42-9930062ccee2>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratingsDF = pd.read_csv('./data/users.dat' , sep='::' , header=None)

In [43]:
ratingsDF.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455